[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hollr"]
	path = hollr
	url = https://github.com/jaytimm/hollr
[submodule "puremoe"]
	path = puremoe
	url = https://github.com/jaytimm/puremoe
[submodule "textpress"]
	path = textpress
	url = https://github.com/jaytimm/textpress
